<h1>Hello, <%= @to.email %></h1>

<p>
  <strong>
    <%= @from.email %>
  </strong>
  sends his regards (<em>stab, stab, stab</em>)
</p>

<p>
  <a href="https://youtu.be/m0nS8u6Td5I">
    This link is totally fine
  </a>
</p>
