<table class="table table-bordered table-responsive table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Email</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Points of Interest</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'users/index/row', collection: @users, as: :user %>
  </tbody>
</table>
