<h1>
  Welcome to admin panel homepage!
</h1>


<h3 class="">
  Number of interests that are in category <strong>health</strong>,
  start with <strong>cosm</strong> and
  belong to <strong>women</strong> aged between <strong>20</strong> and <strong>30</strong>:
  <em>
    <%= @count %>
  </em>
</h3>
